*.pdf
*.idea
*.zip
*.csv
*.ppt
*.pptx
data/
__pycache__/
venv/
.DS_Store
*.xlsx
*.h5
*.pkl
*.ckpt
*.parquet
*.whl
*.jar
*.tgz
*.gz
*.docx
*.doc
*.npy
*.tar
*.tsv
*.json
*.pth
model_checkpoints/
lightning_logs/
Pediatric_Chest_X_ray_Pneumonia/